<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .header-container {
            display : flex;
            justify-content : space-between;
            padding : 15px;
        }
        #main-home {
            text-align : left;
        }
        #auth-buttons {
            display : flex;
            gap : 10px;
        }
        #loggedInMember {
            gap : 10px;
        }
    </style>
</head>
<body>
    <div class="container header-container">
        <div>
            <a id="main-home" class="btn btn-info" th:href="@{/articles}">Home</a>
        </div>
        <div id="auth-buttons" class="d-flex justify-content-flex-between">
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-primary" th:href="@{/login}">Login</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a id="loggedInMember" sec:authentication="name"></a>님
                <form th:action="@{/logout}" method="post" style="display : inline;">
                    <button id="logout" type="submit" class="btn btn-dark">Logout</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>