<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>commentInput</title>
</head>
<body>
    <div class="container">
        <form id="comment-form" th:action="@{/api/comments/new}" method="post">
            <textarea class="form-control" rows="3" placeholder="댓글을 입력 하세요." name="content"></textarea>
            <input type="hidden" name="articleId" th:value="${article.id}">
            <span class="mb-3">
                <button type="submit" class="btn btn-primary">작성</button>
            </span>
        </form>
    </div>
</body>
<script>
    document.querySelector("#comment-form").addEventListener("submit", function(event) {
        event.preventDefault();

        const contentField = document.querySelector(".form-control");
        const content = contentField.value.trim();

        if (content === "") {
            alert("댓글 내용을 입력 해주세요");
        } else {
            const formData = new FormData(event.target);
            const comment = {
                content: content,
                articleId: Number(formData.get("articleId"))
            };

            fetch('/api/comments/new', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(comment)
            })
                .then(response => response.text())  // Change to text() to receive the URL as a string
                .then(redirectUrl => {
                    // On success, redirect to the article page
                    window.location.href = redirectUrl;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

    });
</script>

</html>