<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>commentInput</title>
</head>
<body>
    <div class="container">
        <form id="comment-form" th:action="@{/api/comments/new}" method="post">
            <textarea class="form-control" rows="3" name="content"></textarea>
            <input type="hidden" name="articleId" th:value="${article.id}">
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">작성</button>
            </div>
        </form>
    </div>
</body>
<script>
    document.querySelector("#comment-form").addEventListener("submit", function(event) {
        event.preventDefault();

        const formData = new FormData(event.target);
        const comment = {
            content: formData.get("content"),
            articleId: Number(formData.get("articleId"))
        };

        fetch('/api/comments/new', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(comment)
        })
            .then(response => response.text())  // Change to text() to receive the URL as a string
            .then(redirectUrl => {
                // On success, redirect to the article page
                window.location.href = redirectUrl;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>

</html>