<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ArticleList</title>
    <style>
        .article-link {
            color : inherit;
            text-decoration : none;
        }
        .article-link:hover {
            color : blue;
            text-decoration : underline;
        }
        #edit-delete {
            text-align : right;
            padding-right : 15px;
        }
        .article-element {
            cursor: pointer;
        }
    </style>
</head>
<body>

    <div class="container">

        <div th:replace="~{layouts/header.html}"></div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">최근 수정일</th>
                <th scope="col">조회수</th>
                <th scope="col">댓글수</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="article-element" th:each="article : ${articleList}" th:data-href="@{/articles/{id}(id=${article.id})}">
                <td th:text="${article.id}">Id</td>
                <td><a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}" class="article-link">Title</a></td>
                <td th:text="${article.authorName}"></td>
                <td th:text="${article.createdAt}"></td>
                <td th:text="${article.modifiedAt}"></td>
                <td id="view-count" th:text="${article.viewCount}"></td>
                <td id="comment-count" th:text="${article.commentCount}"></td>
                <td id="edit-delete">
                    <a class="btn btn-light" th:href="@{/articles/edit/{id}(id=${article.id})}">수정</a>
                    <a class="btn btn-warning" th:href="@{/articles/delete/{id}(id=${article.id})}" onclick="return confirm('게시글을 삭제하시겠습니까?');">삭제</a>
                </td>
                <td id="report">
                    <button type="button" id="report-button" class="btn btn-danger" th:data-article-id="${article.id}" data-bs-toggle="modal" data-bs-target="#report-modal">신고</button>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{/articles/new}">작성</a>
    </div>

<!--    게시글 신고 버튼 클릭 시 표시 되는 모달 창-->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="report-button-label">게시글 신고</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">신고 유형</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="spam" name="reportType" value="span">
                            <label class="form-check-label" for="spam">스팸</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inappropriate" name="reportType" value="inappropriate">
                            <label class="form-check-label" for="inappropriate">부적절한 내용</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="hate-speech" name="reportType" value="hate-speech">
                            <label class="form-check-label" for="hate-speech">혐오 발언</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="other" name="reportType" value="other">
                            <label class="form-check-label" for="other">기타</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="report-details" class="form-label">상세 내용</label>
                        <input type="hidden" name="articleId" id="modalArticleId">
                        <textarea class="form-control" id="report-details" rows="3" placeholder="신고 사유를 입력하세요."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-secondary">제출</button>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<script>

    document.addEventListener('DOMContentLoaded', function(){
        document.querySelectorAll(".article-element").forEach(article => {

                article.addEventListener("click", function(event) {

                    const target = event.target;

                    if (target.tagName.toLowerCase() === 'a' || target.id === 'report-button') {
                        article.stopPropagation();
                        return;
                    }

                    window.location.href = this.dataset.href;
                });
            }
        );

        document.querySelectorAll("#report-button").forEach(button=>{
            button.addEventListener("click", function(event){
                const articleId = this.getAttribute('data-article-id');

                const modal = new bootstrap.Modal(document.getElementById('reportModal'));

                document.getElementById('modalArticleId').value = articleId;
                modal.show();
            });
        });
    });

</script>
</html>