<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ArticleList</title>
    <style>
        .article-link {
            color : inherit;
            text-decoration : none;
        }
        .article-link:hover {
            color : blue;
            text-decoration : underline;
        }
        #edit-delete {
            text-align : right;
            padding-right : 15px;
        }
        .article-element {
            cursor: pointer;
        }
    </style>
</head>
<body>

    <div class="container">

        <div th:replace="~{layouts/header.html}"></div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">최근 수정일</th>
                <th scope="col">조회수</th>
                <th scope="col">댓글수</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="article-element" th:each="article : ${articleList}" th:data-href="@{/articles/{id}(id=${article.id})}">
                <td th:text="${article.id}">Id</td>
                <td><a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}" class="article-link">Title</a></td>
                <td th:text="${article.authorName}"></td>
                <td th:text="${article.createdAt}"></td>
                <td th:text="${article.modifiedAt}"></td>
                <td id="view-count" th:text="${article.viewCount}"></td>
                <td id="comment-count" th:text="${article.commentCount}"></td>
                <td id="edit-delete">
                    <a class="btn btn-light" th:href="@{/articles/edit/{id}(id=${article.id})}">수정</a>
                    <a class="btn btn-warning" th:href="@{/articles/delete/{id}(id=${article.id})}" onclick="return confirm('게시글을 삭제하시겠습니까?');">삭제</a>
                </td>
                <td id="report">
                    <button type="button" id="report-button" class="btn btn-danger">신고</button>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{/articles/new}">작성</a>
    </div>

</body>
<script>
    document.querySelectorAll(".article-element").forEach(article => {

            article.addEventListener("click", function(event) {

                const target = event.target;

                if (target.tagName.toLowerCase() === 'a') {
                    article.stopPropagation();
                    return;
                }

                window.location.href = this.dataset.href;
            });
        }
    );
</script>
</html>